@font-face {
	font-family: 'Eina01';
	src: url('/fonts/Eina01-Regular.woff') format('woff'),
		url('/fonts/Eina01-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Eina01';
	src: url('/fonts/Eina01-Bold.woff') format('woff'),
		url('/fonts/Eina01-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Eina01';
	src: url('/fonts/Eina01-SemiBold.woff') format('woff'),
		url('/fonts/Eina01-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'firaCode';
	src: url('/fonts/FiraCode.woff') format('woff'),
		url('/fonts/FiraCode.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'circular';
	src: url('/fonts/CircularPro-Book.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
